<mat-toolbar>
      <div style="padding: 0 4px;">
            <button mat-icon-button color="primary" (click)="setChangeExpanded()">
                  <mat-icon *ngIf="!isExpanded" class="material-icons-round">menu</mat-icon>
                  <mat-icon *ngIf="isExpanded" class="material-icons-round">menu_open</mat-icon>
            </button>
      </div>
      <span class="welcome" *ngIf="userMe" Else="LEARNER" >HI  {{userMe | uppercase}}
    
      </span>
<img class="dragon" src="/assets/img/dragon.png" />
<span class="spacer"></span>
<button class="batman">
      <span class="headername">ANG - MATERIAL</span>
</button>

      <!-- <span clasas="date-time">{{rxTime | date: ' H:mm'}}</span> -->
</mat-toolbar>
      