mat-mdc-card-subtitle.mat-mdc-card-title,
.mat-mdc-card-title ~ .mat-mdc-card-subtitle,
.mat-mdc-card-header .mat-mdc-card-header-text .mat-mdc-card-title,
.mat-mdc-card-header .mat-mdc-card-header-text .mat-mdc-card-subtitle,
.mat-mdc-card-title-group .mat-mdc-card-title,
.mat-mdc-card-title-group .mat-mdc-card-subtitle {
  padding-top: 17px !important;
}

.mat-mdc-card-header {
  background-color: whitesmoke !important;
  padding: 10px 10px 0px;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🦄</text></svg>")
      14 0,
    auto !important;
}

::ng-deep .mat-mdc-card-header-text {
  // background-color: burlywood !important;
  width: max-content;
}

.mat-mdc-card {
  width: 92vw;
}

// .profile-card{
//   @include mat.elevation-transition();
//   @include mat.elevation(2);

//   & :hover {
//     @include mat.elevation(8);
//   }
// }

.animate {
  animation: fadeInAnimation ease-in-out 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.animate2 {
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.animate3 {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@mixin transformation {
  transform: scale3d(1.03, 1, 1);
  transition: 400ms;
}

.animate3:hover,
.animate:hover,
.animate2:hover,
.animate4:hover {
  @include transformation;
}

.animate4 {
  animation: fadeInAnimation ease-in-out 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
}

// ::ng-deep .mdc-card mat-elevation-z8{

// box-shadow:0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
// }

.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

.mat-elevation-z9,
.mat-mdc-elevation-specific.mat-elevation-z9 {
  box-shadow: 5px 31px 18px -3px rgba(0, 0, 0, 0.2),
    14px 18px 15px 13px rgba(0, 0, 0, 0.14),
    13px 14px 20px -29px rgba(0, 0, 0, 0.12) !important;
}

.animebutton {
  padding-top: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

@media screen and (max-width: 500px) {
  .mat-mdc-card {
    width: 82vw !important;
  }
}
