<mat-nav-list>
      <mat-list-item>
            <a routerLink="accordion">
                  <div class="accordion-button" (click)="collapseMenu()" routerLinkActive="active">
                        <span class="nav-caption">Accordion</span>
                  </div>
            </a>
            <div class="spacer">
                  <span></span>
            </div>

            <a routerLink="autocomplete">
                  <div class="accordion-button" (click)="collapseMenu()" routerLinkActive="active">
                        <span class="nav-caption">Auto Complete</span>
                  </div>
            </a>


            <div class="spacer">
                  <span></span>
            </div>

            <a routerLink="badge">
                  <div class="accordion-button" (click)="collapseMenu()" routerLinkActive="active">
                        <span class="nav-caption">Badge</span>
                  </div>

            </a>
            <div class="spacer">
                  <span></span>
            </div>
            <a routerLink="bottom-sheet">
                  <div class="accordion-button" (click)="collapseMenu()" routerLinkActive="active">
                        <span class="nav-caption">Bottom Sheet</span>
                  </div>
            </a>
            <div class="spacer">
                  <span></span>
            </div>
            <a routerLink="button">
                  <div class="accordion-button" (click)="collapseMenu()" routerLinkActive="active">
                        <span class="nav-caption">Button</span>
                  </div>
            </a>
            <div class="spacer">
                  <span></span>
            </div>
            <a routerLink="toggle">
                  <div class="accordion-button" (click)="collapseMenu()" routerLinkActive="active">
                        <span class="nav-caption">Button Toggle</span>
                  </div>
            </a>
            <div class="spacer">
                  <span></span>
            </div>
            <a routerLink="card">
                  <div class="accordion-button" (click)="collapseMenu()" routerLinkActive="active">
                        <span class="nav-caption">Card</span>
                  </div>
            </a>
            <div class="spacer">
                  <span></span>
            </div>
            <a routerLink="checkbox">
                  <div class="accordion-button" (click)="collapseMenu()" routerLinkActive="active">
                        <span class="nav-caption">CheckBox</span>
                  </div>
            </a>





            <div class="spacer">
                  <span></span>
            </div>

            <a routerLink="chips">
                  <div class="accordion-button" (click)="collapseMenu()" routerLinkActive="active">
                        <span class="nav-caption">Chips</span>
                  </div>
            </a>





            <div class="spacer">
                  <span></span>
            </div>
            <a routerLink="/">
                  <div class="accordion-button" (click)="collapseMenu()">
                        <span class="nav-caption" (click)="logout()">Logout</span>
                  </div>
            </a>
            <!-- <button (click)="logout()">Logout</button> -->
      </mat-list-item>
</mat-nav-list>